<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator-Electron</title>

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body class="bg-dark">

    <main>
        <div class="w-win-100 h-win-25">

            <input type="text" class="w-100 h-100 fs-1">

        </div>
        <div class="w-win-100 h-win-75 bg-dark">

            <div class="row row-cols-5 h-100 py-3 mx-auto">

                <button class="col m-1 bg-white">%</button>
                <button class="col m-1 bg-white">CE</button>
                <button class="col m-1 bg-white">C</button>
                <button class="col m-1 bg-white">

                    <img src="../public/img/deletar.png" width="25px" height="25px">

                </button>

                <button class="col m-1 bg-white"> 1/x</button>
                <button class="col m-1 bg-white"> x²</button>
                <button class="col m-1 bg-white"> ²√x</button>
                <button class="col m-1 bg-white"> ÷</button>

                <button class="col m-1 bg-light"> 7</button>
                <button class="col m-1 bg-light"> 8</button>
                <button class="col m-1 bg-light"> 9</button>
                <button class="col m-1 bg-white"> X</button>

                <button class="col m-1 bg-light"> 4</button>
                <button class="col m-1 bg-light"> 5</button>
                <button class="col m-1 bg-light"> 6</button>
                <button class="col m-1 bg-white"> -</button>

                <button class="col m-1 bg-light"> 1</button>
                <button class="col m-1 bg-light"> 2</button>
                <button class="col m-1 bg-light"> 3</button>
                <button class="col m-1 bg-white"> +</button>

                <button class="col m-1 bg-light"> +/-</button>
                <button class="col m-1 bg-light"> 0</button>
                <button class="col m-1 bg-light"> ,</button>
                <button class="col m-1 bg-primary"> =</button>

            </div>

        </div>
    </main>

    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../public/js/style.js"></script>

</body>

</html>